<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class="text-center">Get Away Bus</h1>

    <p class="text-center">
      Give us your address or corner, and we'll tell you if there's a bus nearby.
    </p>

    <%= render 'form' %>
  </div>
</div>
